[Unit]
Description=SickBeard Daemon
After=network.target

[Service]
Type=simple
User=root
Type=forking
GuessMainPID=no
ExecStart=/usr/bin/python /home/pi/SickRage/SickBeard.py -q --daemon --nolaunch --datadir=/opt/sickbeard
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target